<html  ng-app="myApp" ng-controller="View1Ctrl">
<head>
<title>Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travelix Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
</head>
<script>
    var url=window.location.href;
    // localStorage.getItem("userid123")
    console.log('URL after 50 is',(url.substr(50)).replace("%20"," "));
    console.log('URL after 53 is',(url.substr(53)).replace("%20"," "));
    console.log('URL after 46 is',(url.substr(47)).replace("%20"," "));
    console.log('substring',(url.substr(url.indexOf('?')+1,url.length)).replace("%20"," "));

    function hideFunction() {
        var x = document.getElementById("resDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
    }
    function homepg() {
        var url=window.location.href;
        console.log('URL before is',url);
        var userName=(url.substr(47)).replace("%20"," ");
        console.log('URL after 50 is',(url.substr(50)).replace("%20"," "));
        console.log('URL after 53 is',(url.substr(53)).replace("%20"," "));
        console.log('URL after 47 is',(url.substr(47)).replace("%20"," "));
        console.log('in html',userName);
        window.location.href = 'home.html?'+ localStorage.getItem("userid123");
    }
    function profilepg() {
        var url=window.location.href;
        var userName=(url.substr(50)).replace("%20"," ");
        console.log('in html',userName);
        window.location.href = 'profile.html?'+ localStorage.getItem("userid123");
    }
    function aboutpg() {
        var url=window.location.href;
        var userName=(url.substr(50)).replace("%20"," ");
        console.log('in html',userName);
        window.location.href = 'about.html?'+ localStorage.getItem("userid123");
    }
    function contactpg() {
        var url=window.location.href;
        var userName=(url.substr(50)).replace("%20"," ");
        console.log('in html',userName);
        window.location.href = 'contact.html?'+ localStorage.getItem("userid123");
    }
    function signoutpg() {
        var url=window.location.href;
        var userName=(url.substr(50)).replace("%20"," ");
        console.log('in html',userName);
        window.location.href = 'index.html';
    }
    function historypg() {
        var url=window.location.href;
        var userName=(url.substr(50)).replace("%20"," ");
        console.log('in html',userName);
        window.location.href = 'history.html?'+ localStorage.getItem("userid123");
    }
</script>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">


		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
						<div class="logo_container">
							<div class="logo"><a href="#"><img src="images/logo.png" alt="">Travel Explorer</a></div>
						</div>
						<div class="main_nav_container ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a onclick="homepg()">home</a></li>
								<li class="main_nav_item"><a onclick="profilepg()">profile</a></li>
								<li class="main_nav_item"><a onclick="historypg()">history</a></li>
								<li class="main_nav_item"><a onclick="contactpg()">contact</a></li>
								<li class="main_nav_item"><a onclick="aboutpg()">about us</a></li>
								<li class="main_nav_item"><a onclick="signoutpg()">sign out</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</nav>
	</header>
	<!-- Home -->
	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/contact_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">contact</div>
		</div>
	</div>
	<!-- Contact -->
	<div class="contact_form_section">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Contact Form -->
					<div class="contact_form_container">
						<div class="contact_title text-center">get in touch</div>
						<form ng-submit="sendmail()" id="contact_form" class="contact_form text-center">
							<input type="text" ng-model="formData.name" id="contact_form_name" class="contact_form_name input_field" placeholder="Name" required="required" data-error="Name is required.">
							<input type="text" ng-model="formData.email" id="contact_form_email" class="contact_form_email input_field" placeholder="E-mail" required="required" data-error="Email is required.">
							<input type="text" ng-model="formData.sub" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Subject" required="required" data-error="Subject is required.">
							<textarea ng-model="formData.mes" id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
							<button  type="submit" id="form_submit_button" class="form_submit_button button trans_200" onclick="contactpg()">send message<span></span><span></span><span></span></button>
						</form>
                        <br>
                        <input type="text"  style="width: 100% ;border: 0px;  background: transparent; color: red;text-align:center" ng-model="finalErr">
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- About -->


	<!-- Google Map -->
</div>



<script type="text/javascript" src="https://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="js/controllers/nodemailer.js"></script>

<script src="js/directives/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="js/directives/contact_custom.js"></script>

</body>

</html>